;// 本文件由洪旭耀设计，可以通过QQ联系作者：26750452

FLASH_LOAD 0x80008000 0x1000000
{
  EXE_SPL +0
  {
    startup_F1C100s.o (RESET, +FIRST)
    startup_F1C100s.o (+RO)
    sys-clock.o (+RO)
    sys-copyself.o (+RO)
    sys-dram.o (+RO)
    sys-mmu.o (+RO)
    sys-spiflash.o (+RO)
    sys-uart.o (+RO)
    aeabi*.o (+RO)
  }
  EXE_APP AlignExpr(+0, 16) FIXED
  {
    * (InRoot$$Sections)
    * (+RO)
    .ANY (+RW,+ZI)
    * (STACK)
    * (HEAP, +LAST)
  }
}

